/*Modificación Menu, Seccion Planes y sección servicios*/

/* .menu,
.serviciosTrisquel {
	display: inline-block;
}

.serviciosTrisquel {
	color: #01bad9;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	font-weight: bold;


}





/* .botonServicios
{
border: black solid 1px;
border-radius: 15px;
font-family: 'averta-font';
/* background-color: black;
color: #cf2bd0;
} */
