@charset "UTF-8";
/*Fuente incrustada*/
@font-face {
  font-family: "averta-font";
  src: url("/fuentes/AvertaDemoPE-ExtraBold.otf");
}
/*Fuentes titulos*/
/*H1 H2 H3 */
h1, h2, h3 {
  margin: 3% auto;
  text-decoration: underline;
  color: #cf2bd0;
}

/*Efectos Menu*/
.botonMenu:hover {
  animation: 2s;
  animation-name: efectoMenu;
}

@keyframes efectoMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: black;
  }
}
/*Efectos Menu*/
body {
  background: #00091d;
  color: white;
}

div code {
  color: black;
  font-family: "averta-font";
  font-size: 1.2rem;
}
div .estiloCarrousel {
  background-color: black;
  opacity: 0.8;
}
div .letraCarrousel {
  color: white;
}
div h5 {
  color: #cf2bd0;
  font-family: "averta-family";
  text-decoration: underline;
}

.imagenTrisquel {
  margin-bottom: 1.5%;
  width: 55%;
}

/* Fin Margen LOGO HISTORIA TRISQUEL*/
.historiaTrisquel {
  font-family: "averta-font";
  font-size: 1.2rem;
}

.tituloMapa {
  text-decoration: underline;
  font-size: 20px;
  color: #cf2bd0;
  font-family: "Rubik", sans-serif;
  margin: 15px 10px 15px 5px;
}

/*Fin Mapa*/
/*Acordion*/
.fondoAccordion {
  background-color: #00050e;
}

.buttonAccordion {
  background-color: #00050e;
  color: #cf2bd0;
}

.textoAccordion {
  color: white;
}

/*Fin Acordion*/
/*Carrousel*/
.flexCarrousel {
  display: flex;
  justify-content: center;
}

/*Operadores*/
div div img {
  height: 30rem;
  width: 100%;
}

/*Fin Carrousel*/
/*Efecto Logo*/
.logoTrisquel:hover {
  animation: 3s;
  animation-name: efectoLogo;
}

@keyframes efectoLogo {
  50% {
    width: 25%;
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fin Efecto Logo*/
/*Planes*/
/*Sección NOSOTROS y Boton Linkedin*/
.tituloNosotros {
  text-decoration: underline;
  text-align: center;
  color: #cf2bd0;
  margin: 10px 0 15px 0;
}

.presentacionPersonal {
  color: #cf2bd0;
  text-align: center;
  margin: 10px 0 15px 0;
}

.presentacionPropia {
  margin: 10px 10px 15px 10px;
}

.imagenLinkedin {
  width: 50px;
  margin: 10px auto 220px 10px;
}

/*Mobile Imagen Franco Roman*/
@media only screen and (max-width: 640px) {
  .francoRoman {
    display: block;
    margin: auto;
    width: 75%;
  }
}
/*PC y Tablet Imagen Franco Roman*/
@media only screen and (min-width: 641px) {
  .francoRoman {
    display: block;
    margin: auto;
  }
}
/*Configuracion Nav Menu*/
/*Diseño menu*/
.menuCss {
  background: #00091d;
  font-size: 120%;
}

/*Diseño menu*/
/*Logo Trisquel Imagen*/
/*Mobile*/
@media only screen and (max-width: 640px) {
  .logoTrisquel {
    width: 55%;
    margin-left: 45%;
  }
}
/*PC y Tablet*/
@media only screen and (min-width: 641px) {
  .logoTrisquel {
    width: 45%;
    margin-left: 15%;
  }
}
/*Fin Logo Trisquel Imagen*/
/*Botones Menu*/
.botonMenu {
  border: 2px solid #cf2bd0;
  border-radius: 25px;
  padding: 5%;
  margin: 1% 1% 1% 1%;
}

/*Fin Botones Menu*/
/*Clase provisoria arreglar centrado de menu*/
.arregloMenu {
  margin-left: 19%;
}

/*Fin Clase provisoria arreglar centrado de menu*/
/*Fin Configuracion Nav Menu*/
/*Boton WP*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/*Fin Boton WP*/
/*Modificación Contenidos y Titulo clientes*/
.clientesTitulo {
  color: #cf2bd0;
  text-decoration: underline;
  font-family: "Rubik", sans-serif;
  margin: 15px 0 15px 5px;
  font-size: 30px;
  text-align: center;
}

.clientesTexto {
  margin: 0 0 10px 5px;
}

/* Mobile*/
@media only screen and (max-width: 640px) {
  .opinionClientes {
    margin: 1%;
    font-size: 15px;
  }
}
/*PC y Tablet*/
@media only screen and (min-width: 641px) {
  .opinionClientes {
    margin: auto;
    font-size: 25px;
  }
}
/*Ebook Imagen Diseño*/
.ebookImagen {
  width: 65%;
  margin: 0 0 10px 5px;
}

/*Fin Ebook Imagen Diseño*/
.linkDescarga {
  color: #cf2bd0;
  text-decoration: underline;
}

/*Footer*/
/*Estilo Footers, para todos el mismo*/
footer {
  text-align: center;
  background-color: #00050e;
  width: 100%;
  bottom: 0%;
  color: white;
}

/*Mobile y Tablet*/
@media only screen and (max-width: 767px) {
  .footerIndex {
    margin: 0;
  }
}
/*PC*/
@media only screen and (min-width: 768px) {
  .footerIndex {
    position: fixed;
  }
}
/*Footer especial Contenido arreglado*/
.footerIndex2 {
  position: fixed;
}

.icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pieDePagina,
.iconosRedes,
.redes,
.planesBoton {
  text-decoration: none;
  font-size: 18px;
  font-family: "averta-font";
  text-align: center;
  color: #01bad9;
  width: 50px;
  height: 50px;
}

footer p {
  color: white;
  font-family: "averta-font";
}
footer .copyright {
  margin: 0;
}

.redes {
  color: white;
}

/*Fin Footer*/
/*Mixin mapa*/
.mapa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
  height: 20rem;
}

/*Mixin reseña clientes*/
.reseñaClientes {
  display: flex;
  align-items: center;
  border: white solid 3px;
  padding: 10px;
}

/*Planes*/
:root {
  --card-proportions: 90;
  --card-height: calc(3.5px * var(--card-proportions));
  --card-width: calc(2.5px * var(--card-proportions));
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

h4 {
  font-weight: bold;
}

body {
  background-color: #00091d;
  text-align: center;
}

/* edits the page title */
.page-title {
  padding: 5% 2% 0 2%;
  display: inline-block;
  color: #cf2bd0;
}

/*Mobile Imagen Franco Roman*/
@media only screen and (max-width: 640px) {
  .page-title {
    padding: 16% 2% 0 2%;
    display: inline-block;
    color: #cf2bd0;
  }
}
/*PC y Tablet Imagen Franco Roman*/
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .page-title {
    padding: 14% 2% 0 2%;
    display: inline-block;
    color: #cf2bd0;
  }
}
.pt-img {
  width: 25vw;
}

.pt-text {
  text-transform: uppercase;
  position: relative;
  top: -40px;
}

/*Grupo de cartas*/
.cards {
  padding: 0;
  list-style: none;
  width: 100%;
}

/* individual cards */
.card {
  display: inline-block;
  vertical-align: middle;
  margin: 1.5%;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}

/* Contenido del frente de las cartas*/
.card-text {
  background: linear-gradient(176deg, #000d33, 17%, #cf2bd0, 17%, #cf2bd0, 19%, antiquewhite, 19%, antiquewhite);
  display: inline-block;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset;
  transform: translateZ(-1px) translateY(-315px) rotateY(180deg);
}

/*Titulo de la carta*/
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  display: block;
}

.starter {
  color: white;
}

.gold {
  color: #e7e303;
}

.premium {
  color: white;
}

/*Descripción de la carta*/
.card-content {
  text-align: justify;
  color: #222;
  font-size: 18px;
  display: block;
  height: var(--card-height);
  width: var(--card-width);
  box-sizing: border-box;
  padding: 14% 0% 0% 0%;
}

.description {
  color: #444;
}

/*Imagenes de cada carta */
.card-image {
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset;
}

.card-starter, .card-gold, .card-premium {
  background-size: contain;
}

/*Reseteo base*/
* {
  padding: 0;
  margin: 0;
}

/*Fin Reseteo base*/

/*# sourceMappingURL=style.css.map */
