@charset "UTF-8";
/*Fuente incrustada*/
@font-face {
  font-family: "averta-font";
  src: url("../fuentes/AvertaDemoPECuttedDemo-Regular.otf");
}
/*Fuentes titulos*/
/*H1 H2 H3 */
h1, h3 {
  margin: 1% auto;
  text-decoration: underline;
  color: #cf2bd0;
}

/*Efectos Menu*/
.botonMenu:hover {
  animation: 2s;
  animation-name: efectoMenu;
}

@keyframes efectoMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: black;
  }
}
/*Efectos Menu*/
body {
  background: #00091d;
  color: white;
}

div code {
  color: black;
  font-family: "averta-font";
  font-size: 1.2rem;
}
div .estiloCarrousel {
  background-color: black;
  opacity: 0.8;
}
div .letraCarrousel {
  color: white;
}
div h5 {
  color: #cf2bd0;
  font-family: "averta-family";
  text-decoration: underline;
}

.imagenTrisquel {
  margin-bottom: 1.5%;
}

/* Fin Margen LOGO HISTORIA TRISQUEL*/
.tituloMapa {
  text-decoration: underline;
  font-size: 20px;
  color: #cf2bd0;
  font-family: "Rubik", sans-serif;
  margin: 15px 10px 15px 5px;
}

/*Fin Mapa*/
/*Acordion*/
.fondoAccordion {
  background-color: #00050e;
}

.buttonAccordion {
  background-color: #00050e;
  color: #cf2bd0;
}

.textoAccordion {
  color: white;
}

/*Fin Acordion*/
/*Carrousel*/
.flexCarrousel {
  display: flex;
  justify-content: center;
}

/*Operadores*/
div div img {
  height: 30rem;
  width: 100%;
}

/*Fin Carrousel*/
/*Efecto Logo*/
.logoTrisquel:hover {
  animation: 3s;
  animation-name: efectoLogo;
}

@keyframes efectoLogo {
  50% {
    width: 25%;
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fin Efecto Logo*/
/*Sección NOSOTROS y Boton Linkedin*/
.tituloNosotros {
  text-decoration: underline;
  text-align: center;
  color: #cf2bd0;
  margin: 10px 0 15px 0;
}

.presentacionPersonal {
  color: #cf2bd0;
  text-align: center;
  margin: 10px 0 15px 0;
}

.presentacionPropia {
  margin: 10px 10px 15px 10px;
}

.imagenLinkedin {
  width: 50px;
  margin: 10px auto 220px 10px;
}

.francoRoman {
  display: block;
  margin: auto;
}

/*Configuracion Nav Menu*/
/*Diseño menu*/
.menuCss {
  background: #00091d;
  font-size: 120%;
}

/*Diseño menu*/
/*Logo Trisquel Imagen*/
.logoTrisquel {
  width: 45%;
  margin-left: 15%;
}

/*Fin Logo Trisquel Imagen*/
/*Botones Menu*/
.botonMenu {
  border: 2px solid #cf2bd0;
  border-radius: 25px;
  padding: 5%;
  margin: 1% 1% 1% 1%;
}

/*Fin Botones Menu*/
/*Clase provisoria arreglar centrado de menu*/
.arregloMenu {
  margin-left: 19%;
}

/*Fin Clase provisoria arreglar centrado de menu*/
/*Fin Configuracion Nav Menu*/
/*Boton WP*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/*Fin Boton WP*/
/*Modificación Contenidos y Titulo clientes*/
.clientesTitulo {
  color: #cf2bd0;
  text-decoration: underline;
  font-family: "Rubik", sans-serif;
  margin: 15px 0 15px 5px;
  font-size: 30px;
  text-align: center;
}

.clientesTexto {
  margin: 0 0 10px 5px;
}

.opinionClientes {
  margin: auto;
  font-size: 25px;
}

/*Ebook Imagen Diseño*/
.ebookImagen {
  margin: 0 0 10px 5px;
}

/*Fin Ebook Imagen Diseño*/
/*Footer*/
/*Estilo Footers, para todos el mismo*/
footer {
  text-align: center;
  background-color: #00050e;
  width: 100%;
  bottom: 0%;
  color: white;
}

.footerIndex {
  position: fixed;
}

.icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pieDePagina,
.iconosRedes,
.redes,
.planesBoton {
  text-decoration: none;
  font-size: 18px;
  font-family: "averta-font";
  text-align: center;
  color: #01bad9;
  width: 50px;
  height: 50px;
}

footer p {
  color: white;
  font-family: "averta-font";
}

.redes {
  color: white;
}

/*Fin Footer*/
/*Mixin mapa*/
.mapa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
  height: 20rem;
}

/*Mixin reseña clientes*/
.reseñaClientes {
  display: flex;
  align-items: center;
  border: white solid 3px;
  padding: 10px;
}

/*Reseteo base*/
* {
  padding: 0;
  margin: 0;
}

/*Fin Reseteo base*/

/*# sourceMappingURL=style.css.map */
