@charset "UTF-8";
/*Fuente incrustada*/
@font-face {
  font-family: "averta-font";
  src: url("../fuentes/AvertaDemoPECuttedDemo-Regular.otf");
}

@import 'base/colores';
@import 'base/fonts';
@import 'base/animaciones';
@import 'componentes/index';
@import 'componentes/nosotros';
@import 'componentes/header';
@import 'componentes/wpp';
@import 'componentes/clientes';
@import 'componentes/contenido';
@import 'componentes/footer';
@import 'componentes/mixins';


/*Reseteo base*/

* {
	padding: 0;
	margin: 0;
}
/*Fin Reseteo base*/

