/*Modificación Contenidos y Titulo clientes*/

.clientesTitulo {
	color: #cf2bd0;
	text-decoration: underline;
	font-family: 'Rubik', sans-serif;
	margin: 15px 0 15px 5px;
	font-size: 30px;
	text-align: center;

}

.clientesTexto {
	margin: 0 0 10px 5px;
}


.opinionClientes {
	margin: auto;
	font-size: 25px;
}
