/*Sección NOSOTROS y Boton Linkedin*/

.tituloNosotros {
	text-decoration: underline;
	text-align: center;
	color: $coloresTitulos;
	margin: 10px 0 15px 0;
}

.presentacionPersonal {
	color: $coloresTitulos;
	text-align: center;
	margin: 10px 0 15px 0;
}

.presentacionPropia {
	margin: 10px 10px 15px 10px;

}

.imagenLinkedin {
	width: 50px;
	margin: 10px auto 220px 10px;
}

.francoRoman {
	display: block;
	margin: auto;
}
